*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Lato-Bold;
    src: url(fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: Lato-Light;
    src: url(fonts/Lato-Light.ttf);
}
@font-face {
    font-family: Lato-Regular;
    src: url(fonts/Lato-Regular.ttf);
}
a{
    list-style: none;
    text-transform: none;
    text-decoration: none;
    color: #ffffff;
}
header{
    background-image: url("images/oscar_header.png");
    width: 1600px;
    margin: 0 auto;
    height: 565px;
    display: block;

}

.header-main {
    color: #ffffff;
    position: relative;
    padding: 113px 615px 0 215px;
    width: 770px;
    height: 452px;
    display: block;
}
.head-text{
    margin-top: 5px;
    margin-bottom: 21px;
    font-family: Lato-Light;
    font-size: 30px;
}
.post-author{
    margin-bottom: 207px;
}
.mike_post{
    display: inline;
    margin-right: 35px;
}
.mike_post-info{
    color: #ffffff;
    font-size: 16px;
    font-family: Lato-Light;
    font-weight: 600;
    height: 26px;
    width: 26px;
    vertical-align: middle;
}
.mike-post-text{
    margin-left: 10px;
}
h1{
    font-size: 60px;
    font-family: Lato-Bold;
    line-height: 57px;
    letter-spacing: -1.5px;
    word-spacing: 1px;
}
.head-nav{
    list-style: none;
    display: block;
}
.li_position{
    height: 100%;
    display: inline-block;
    margin-right: 27px;
}
.li_share_pos{
    margin-right: 20px;
}
.nav-elem{
    text-transform: uppercase;
    font-family: Lato-Regular;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
}
.nav-elem > span{
    display: inline-block;
    line-height: 22px;
}
.nav-icon{
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
    position: relative;
}
.nav-elem-donate{
    margin-right: 12px;
}
.nav-elem:hover{
    color: #955c25;
}
/* Main part with articles */

section{
    position: relative;
    width: 830px;
    margin: 0 auto;
}
.main__load-news-panel{
    font-family: Lato-Bold;
    font-size: 16px;
    height: 56px;
    display: block;
    margin: 0 auto 44px;
    width: 1600px;
    text-align: center;
    line-height: 56px;
    background-color: #cfbb95;
    text-transform: uppercase;
}
.main__article{
    margin-bottom: 11%;
}
.article_content{
    font-family: Lato-Regular;
    font-size: 18px;
    margin-bottom: 26px;
    line-height: 1.7;
}
.article__name{
    font-family: Lato-Bold;
    font-size: 1.5em;
    margin-bottom: 20px;
    float: left;
    letter-spacing: -0.05px;
}
.clear{
    clear: both;
}
.article__user-info{
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.user_item{
    display: inline-block;
    vertical-align: middle;
    font-size: 1.1429rem;
    font-weight: 300;
    list-style: none;
    line-height: 22px;
}
.article__user-info>li:first-of-type{
    margin-right: 35px;
}
.config_font {
    position: relative;
    font-family: Lato-Regular;
    font-size: 14px;
    color: #8b8b8b;
}
.article__user-link{
    display: block;
}
.article__user-avatar{
    display: inline-block;
    vertical-align: top;
    margin-right: 1px;
}
.article__date{
    margin-right: 35px;
}
.open_pos{
    float: right;
}
.inter_name_pos{
    margin-bottom: 23px;
}
.article__image{
    margin-bottom: 22px;
}
.article__gallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.user_info-width{
    width: auto;
}
.article__actions{
    display: inline-block;
    float: right;
}
.user_item_action{
    display: inline-block;
    height: 100%;
    position: relative;
    vertical-align: top;
}
.user_actions_icon{
    float: left;
    display: inline-block;
    margin-right: 4px;
}
.actions_user_pos{
    margin-right: 15px;
}
.actions_user_pos:first-of-type{
    margin-right: 23px;
}
.actions_user_pos:last-of-type{
    margin: 0;
}
.article_set-margin{
    margin-bottom: 131px;
}